In [17]:
#  paly with excel libraries  , pandas and charts  plotly
# python -m pip install xlrd
# python -m pip install xlwt
# python -m pip install XlsxWriter
# python -m pip install OpenPyXL
# python -m pip install plotly

In [2]:
print("back")

back

In [18]:
#see  https://www.dataquest.io/blog/excel-and-pandas/
#matplotlib - data visualization
#NumPy - numerical data functionality
#OpenPyXL - read/write Excel 2010 xlsx/xlsm files
#pandas - data import, clean-up, exploration, and analysis
#xlrd - read Excel data
#xlwt - write to Excel
#XlsxWriter - write to Excel (xlsx) files


# https://plot.ly/python/getting-started/

In [6]:
#data for this  notebook found in /devel/py35-work/data/scenario-inputs.xlsx

In [16]:
import pandas as pd

#  path to file . 
excel_file = "/devel/py35-work/data/scenario-inputs.xlsx"
movies_sheet1 = pd.read_excel(excel_file, sheet_name="EnrichedAppInventory", index_col=0)
movies_sheet1.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>ct</th>
      <th>LK1</th>
      <th>APPID</th>
      <th>LK1.1</th>
      <th>NetGrp</th>
      <th>AppGrp</th>
      <th>Decomm_flg</th>
      <th>AppCode</th>
      <th>AppShared</th>
      <th>Short Name</th>
      <th>...</th>
      <th>Technology</th>
      <th>Owner</th>
      <th>Business Owner</th>
      <th>Technical Owner</th>
      <th>Mick Comments2</th>
      <th>ASCAP Comments</th>
      <th>CostCenter</th>
      <th>CostCenterLevel2</th>
      <th>CostCenterLevel3</th>
      <th>CostCenterLevel4</th>
    </tr>
    <tr>
      <th>*</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>NaN</th>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>bi</td>
      <td>yes?</td>
      <td>POC??</td>
      <td>NaN</td>
      <td>dwbanalyst1</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>Hitendra Sahay</td>
      <td>NaN</td>
      <td>May Be POC server, requested by Hitendra Sahay...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>NaN</th>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>bi</td>
      <td>NaN</td>
      <td>CDHBI</td>
      <td>NaN</td>
      <td>dwbusobj01</td>
      <td>...</td>
      <td>Hadoop, Cloudera, Business Object, Tableau</td>
      <td>Hitendra Sahay</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>also hosts cyrstal server</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>NaN</th>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>www</td>
      <td>NaN</td>
      <td>AWEB</td>
      <td>NaN</td>
      <td>dwcds02</td>
      <td>...</td>
      <td>Sitecore  (.net , MS SQL)</td>
      <td>Julia Solganik/Irene Abramsky</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>dev ser er for web with IIS</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>NaN</th>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>www</td>
      <td>NaN</td>
      <td>AWEB</td>
      <td>NaN</td>
      <td>dwcms02</td>
      <td>...</td>
      <td>Sitecore  (.net , MS SQL)</td>
      <td>Julia Solganik/Irene Abramsky</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>NaN</th>
      <td>1</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>dats</td>
      <td>yes</td>
      <td>AWEB</td>
      <td>NaN</td>
      <td>dwcmsql02</td>
      <td>...</td>
      <td>Sitecore  (.net , MS SQL)</td>
      <td>Julia Solganik/Irene Abramsky</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>decomm [er nirlep/  moved over to 2016 version...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 50 columns</p>
</div>