In [6]:
import numpy as np
import pandas as pd

In [1]:
print("hello, starting venv")

hello, starting venv

a list

not an erray
https://www.pythoncentral.io/the-difference-between-a-list-and-an-array/

In [3]:
labels=['a','b','c']

In [8]:
labels

['a', 'b', 'c']

In [14]:
my_data =[10,20,30 ]
arr=np.array(my_data)

array via np wrapper

In [10]:
arr2=np.array(my_data)
arr2

array([10, 20, 30])

In [11]:
arr2=arr2*2
arr2

array([20, 40, 60])

In [12]:
d={'a':10,'b':20,'c':30}
d

{'a': 10, 'b': 20, 'c': 30}

pd series concepts

In [16]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [17]:
#dictionary to series.. 
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [18]:
#list to  Series
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [20]:
#series can hold any data type , for example a list of strings as Data Points.. 
#series is a bunch of data points .
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [22]:
#series can hold set of  pointer to functions, like  C , very cool
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [25]:
#series  working  ,  ad hoc data and lablels
ser1 =pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [24]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [26]:
ser2 =pd.Series([1,2,4,5],['USA','Germany','Italy','Japan'])
ser2['USA']

1

In [27]:
#operations with 2 seres... if same index structure, then  operations are allowed
ser1+ser2

Germany    4.0
Italy      NaN
Japan      9.0
USA        2.0
USSR       NaN
dtype: float64

In [34]:
#on to dataframes- SETUP

# randn returns  N dim space  of random numbmers
from numpy.random import randn
np.random.seed(101)

In [30]:
randn(5,4)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [33]:
randn(5,4,3,5)

array([[[[ 3.86030312e-01,  2.08401853e+00, -3.76518675e-01,
           2.30336344e-01,  6.81209293e-01],
         [ 1.03512507e+00, -3.11604815e-02,  1.93993231e+00,
          -1.00518692e+00, -7.41789705e-01],
         [ 1.87124522e-01, -7.32845148e-01, -1.38292010e+00,
           1.48249550e+00,  9.61458156e-01]],

        [[-2.14121229e+00,  9.92573453e-01,  1.19224064e+00,
          -1.04677954e+00,  1.29276458e+00],
         [-1.46751402e+00, -4.94095358e-01, -1.62534735e-01,
           4.85808737e-01,  3.92488811e-01],
         [ 2.21490685e-01, -8.55196041e-01,  1.54199041e+00,
           6.66319321e-01, -5.38234626e-01]],

        [[-5.68581361e-01,  1.40733825e+00,  6.41805511e-01,
          -9.05099902e-01, -3.91156627e-01],
         [ 1.02829316e+00, -1.97260510e+00, -8.66885035e-01,
           7.20787599e-01, -1.22308204e+00],
         [ 1.60677986e+00, -1.11570997e+00, -1.38537856e+00,
          -1.32966006e+00,  4.14599429e-02]],

        [[-4.11055403e-01, -7.71328605e-01,  1.10477411e-01,
          -8.04651512e-01,  2.53548041e-01],
         [ 6.49147746e-01,  3.58940525e-01, -1.08047146e+00,
           9.02397757e-01,  1.61781188e-01],
         [ 8.33029324e-01,  9.75719680e-01, -3.88238700e-01,
           7.83316051e-01, -7.08953738e-01]]],


       [[[ 5.86847295e-01, -1.62134783e+00,  6.77535114e-01,
           2.61054803e-02, -1.67828366e+00],
         [ 3.33973101e-01, -5.32470526e-01,  2.11772738e+00,
           1.97523986e-01,  2.30298727e+00],
         [ 7.29023732e-01, -8.63091269e-01,  3.05631512e-01,
           2.43177614e-01,  8.64164878e-01]],

        [[-1.56093145e+00, -2.51896952e-01, -5.78120259e-01,
           2.36995630e-01,  2.00780469e-01],
         [ 3.27844740e-01,  6.74485187e-01, -1.74056541e-01,
           7.80139715e-01, -3.83258131e-01],
         [-4.09318484e-01,  3.43539187e-01,  1.96275316e-01,
          -9.82775997e-01,  2.23155524e+00]],

        [[-9.71392566e-01, -1.52233287e+00,  1.13370299e+00,
           5.28186734e-01,  3.93460760e-01],
         [-6.30506633e-01, -1.39828968e+00, -2.19310716e-01,
          -4.56764797e-02,  1.24209903e-02],
         [ 9.36279847e-02,  1.24081261e+00, -1.09769302e+00,
          -1.90800882e+00, -3.80103502e-01]],

        [[-1.66605918e+00, -2.73699460e+00,  1.52256211e+00,
           1.78009091e-01, -6.26805405e-01],
         [-3.91088967e-01,  1.74347695e+00,  1.13001805e+00,
           8.97796311e-01,  3.30865620e-01],
         [-1.06304889e+00, -1.25380801e-01, -9.45588125e-01,
           2.02954418e+00, -1.04635839e+00]]],


       [[[-1.30648231e+00, -1.63292400e+00,  8.02129370e-01,
          -1.66753678e+00,  6.08857292e-01],
         [ 2.86472988e-01, -2.05792298e-01,  2.49399019e+00,
          -5.47259888e-01,  4.96726954e-01],
         [-1.23561426e+00, -7.98427961e-01,  7.54121433e-01,
          -7.72040644e-01, -3.44316370e-02]],

        [[ 6.88408424e-01,  8.15233578e-02, -4.15191116e-01,
           5.36614579e-02, -2.11511310e+00],
         [-2.79510215e-01,  1.06271042e+00,  1.75201442e+00,
           6.95546725e-01,  1.53660834e-01],
         [ 1.67638244e-01, -7.65930075e-01,  9.62299170e-01,
           9.02825859e-01, -5.37909157e-01]],

        [[-1.54967110e+00,  4.35252922e-01,  1.25990369e+00,
          -4.47898352e-01,  2.66206779e-01],
         [ 4.12580161e-01,  9.88772845e-01,  5.13832729e-01,
          -9.28204832e-01,  8.46903898e-01],
         [-2.98435744e-01,  2.91414757e-02,  8.89030884e-01,
          -1.83926086e+00,  8.63595602e-01]],

        [[-1.07659050e+00, -5.80382983e-01,  1.20902728e+00,
           1.20174403e+00, -8.20463164e-01],
         [-1.02957716e+00, -1.52485554e+00, -8.54859901e-01,
           1.60281554e+00,  1.85478987e-01],
         [-9.94018292e-01, -1.31906137e-01, -1.33509173e+00,
          -8.92984417e-02,  6.98566404e-01]]],


       [[[-1.40912568e+00,  8.70907017e-01,  1.58581239e+00,
           9.29657841e-01, -5.50876003e-01],
         [ 9.42044977e-01, -9.75349350e-01, -1.05485060e+00,
           2.16542112e+00, -1.26724018e+00],
         [-8.02843171e-01, -2.53479383e-01,  9.06987440e-02,
           1.32171535e+00,  7.94128506e-01]],

        [[ 1.35971198e+00,  7.71970039e-01,  2.94216627e-01,
          -1.39151906e+00,  1.47486471e-01],
         [-7.29466337e-01, -7.20109748e-01, -2.85256766e-01,
           2.09053915e+00,  1.00405615e+00],
         [ 1.03191586e+00, -1.08111828e+00, -3.54961089e-04,
          -2.19881548e-01,  2.92795131e-01]],

        [[ 8.34354522e-01, -1.40431831e-01,  1.19144962e-01,
           6.65714586e-01,  4.07586450e-01],
         [ 8.07842743e-01, -2.73646445e+00, -9.85152855e-01,
          -1.55275750e-01, -1.01322801e+00],
         [-1.08743589e+00, -2.56776692e+00,  6.61029198e-01,
          -3.32920800e-01, -9.28602274e-01]],

        [[ 1.71595017e+00, -4.68756286e-01,  8.60097036e-01,
           2.30087044e-01,  6.18657993e-01],
         [-2.05256292e+00, -1.66646116e-01, -4.45872783e-01,
           6.85873765e-01,  2.78500967e+00],
         [ 1.52375046e+00,  1.29022993e+00, -1.47831936e+00,
           2.14234194e-01, -2.40509948e-01]]],


       [[[-1.42094948e+00,  3.21659585e-01,  1.00732413e+00,
           3.29783652e-01,  9.20525172e-01],
         [ 1.34913752e+00, -3.77861493e-01,  1.95541989e+00,
          -8.58304211e-01, -2.22210245e-01],
         [-5.12028637e-02, -4.39128023e-01, -1.50104124e+00,
           1.05835693e+00,  1.85496716e+00]],

        [[ 5.02250337e-01,  1.14580877e-01, -3.68487497e-01,
           4.59343068e-01,  5.85512683e-01],
         [-1.81903690e-01, -6.03235466e-01, -2.55266026e+00,
          -3.19269743e-02,  1.40718884e+00],
         [ 6.09708092e-02, -1.54239272e+00, -8.21109576e-01,
          -1.59917066e+00, -2.06883636e+00]],

        [[ 1.50974701e+00,  1.74683206e-01,  4.63427503e-01,
          -2.20644204e+00,  5.44159239e-01],
         [ 6.98295734e-01,  1.25294363e+00, -1.04834734e+00,
          -1.28132029e+00,  1.27673145e+00],
         [ 6.45132381e-01, -2.97637088e-01,  7.55742196e-01,
           1.75812174e+00,  3.07045881e-01]],

        [[ 5.29926931e-01,  9.40120271e-01,  7.46221219e-01,
          -1.41266225e-01,  8.55288076e-02],
         [-1.88380872e+00, -1.31414217e+00,  2.60124009e+00,
          -6.12551962e-01, -1.71496261e+00],
         [ 1.35004579e+00,  1.79898988e+00, -1.31285366e+00,
           3.35903814e-02, -2.20207935e-01]]]])

In [44]:
randn(1,3)
pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>W</th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>-0.116773</td>
      <td>1.901755</td>
      <td>0.238127</td>
      <td>1.996652</td>
    </tr>
    <tr>
      <th>B</th>
      <td>-0.993263</td>
      <td>0.196800</td>
      <td>-1.136645</td>
      <td>0.000366</td>
    </tr>
    <tr>
      <th>C</th>
      <td>1.025984</td>
      <td>-0.156598</td>
      <td>-0.031579</td>
      <td>0.649826</td>
    </tr>
    <tr>
      <th>D</th>
      <td>2.154846</td>
      <td>-0.610259</td>
      <td>-0.755325</td>
      <td>-0.346419</td>
    </tr>
    <tr>
      <th>E</th>
      <td>0.147027</td>
      <td>-0.479448</td>
      <td>0.558769</td>
      <td>1.024810</td>
    </tr>
  </tbody>
</table>
</div>

In [40]:
randn(1,10)

array([[ 0.50382575,  0.65111795, -0.31931804, -0.84807698,  0.60596535,
        -2.01816824,  0.74012206,  0.52881349, -0.58900053,  0.18869531]])

In [46]:
df1=pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [47]:
df1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>W</th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>0.992573</td>
      <td>1.192241</td>
      <td>-1.046780</td>
      <td>1.292765</td>
    </tr>
    <tr>
      <th>B</th>
      <td>-1.467514</td>
      <td>-0.494095</td>
      <td>-0.162535</td>
      <td>0.485809</td>
    </tr>
    <tr>
      <th>C</th>
      <td>0.392489</td>
      <td>0.221491</td>
      <td>-0.855196</td>
      <td>1.541990</td>
    </tr>
    <tr>
      <th>D</th>
      <td>0.666319</td>
      <td>-0.538235</td>
      <td>-0.568581</td>
      <td>1.407338</td>
    </tr>
    <tr>
      <th>E</th>
      <td>0.641806</td>
      <td>-0.905100</td>
      <td>-0.391157</td>
      <td>1.028293</td>
    </tr>
  </tbody>
</table>
</div>

In [49]:
#how much ram 

df1.memory_usage()

Index    40
W        40
X        40
Y        40
Z        40
dtype: int64

In [51]:
#df is a bunch of series that share an index (in 2D case)

df1['W']

A    0.992573
B   -1.467514
C    0.392489
D    0.666319
E    0.641806
Name: W, dtype: float64

In [52]:
type(df1['W'])

pandas.core.series.Series

In [53]:
type(df1[['W','Z']])

pandas.core.frame.DataFrame

In [58]:
df1[['W','Z']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>W</th>
      <th>Z</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>0.992573</td>
      <td>1.292765</td>
    </tr>
    <tr>
      <th>B</th>
      <td>-1.467514</td>
      <td>0.485809</td>
    </tr>
    <tr>
      <th>C</th>
      <td>0.392489</td>
      <td>1.541990</td>
    </tr>
    <tr>
      <th>D</th>
      <td>0.666319</td>
      <td>1.407338</td>
    </tr>
    <tr>
      <th>E</th>
      <td>0.641806</td>
      <td>1.028293</td>
    </tr>
  </tbody>
</table>
</div>

In [73]:
#really like a spreadsheet object  
df1['calcd']=df1['W']*100+df1['X']*100

In [74]:
df1

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>W</th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
      <th>calcd</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>0.992573</td>
      <td>1.192241</td>
      <td>-1.046780</td>
      <td>1.292765</td>
      <td>218.481409</td>
    </tr>
    <tr>
      <th>B</th>
      <td>-1.467514</td>
      <td>-0.494095</td>
      <td>-0.162535</td>
      <td>0.485809</td>
      <td>-196.160938</td>
    </tr>
    <tr>
      <th>C</th>
      <td>0.392489</td>
      <td>0.221491</td>
      <td>-0.855196</td>
      <td>1.541990</td>
      <td>61.397950</td>
    </tr>
    <tr>
      <th>D</th>
      <td>0.666319</td>
      <td>-0.538235</td>
      <td>-0.568581</td>
      <td>1.407338</td>
      <td>12.808470</td>
    </tr>
    <tr>
      <th>E</th>
      <td>0.641806</td>
      <td>-0.905100</td>
      <td>-0.391157</td>
      <td>1.028293</td>
      <td>-26.329439</td>
    </tr>
  </tbody>
</table>
</div>

In [78]:
#very cool selectors 
df1.loc[ ['A','C'],['X','Y']]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>X</th>
      <th>Y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>1.192241</td>
      <td>-1.046780</td>
    </tr>
    <tr>
      <th>C</th>
      <td>0.221491</td>
      <td>-0.855196</td>
    </tr>
  </tbody>
</table>
</div>

In [83]:
#  by index numbers, indexing starts at 0  
df1.iloc[[0,2],[1,2]]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>X</th>
      <th>Y</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>A</th>
      <td>1.192241</td>
      <td>-1.046780</td>
    </tr>
    <tr>
      <th>C</th>
      <td>0.221491</td>
      <td>-0.855196</td>
    </tr>
  </tbody>
</table>
</div>